PORT=3003

PGHOST=ep-long-grass-an02z6fc-pooler.c-6.us-east-1.aws.neon.tech
PGDATABASE=umariana_dwh
PGUSER=neondb_owner
PGPASSWORD=npg_yhoO1HGPCE8d
PGSSLMODE=require
PGCHANNELBINDING=require

ACADEMIC_API_BASE_URL=http://localhost:3000/api
LIBRARY_API_BASE_URL=http://localhost:3001/api/recursos
LABS_DATA_DIR=../backend-labs/extractor-csv-laboratorios/data/clean
